In [ ]:
'''Streaming Computation 

Benefits:
-  Reduce memory usage
-  Enable pipelining, aka pushing data out as soon as possible. 

Techniques:
-  Sampling
-  Sketching (data aggregator - just the transformation of the data)
-  Counting (approximation - ex average). 

Iterable & Generator

'''

In [ ]:
'''Parallel Computing 

Hardware  Take advantage of multi-core, multi-processor, clusters of machines. 

Model     Tasks are split into independent subtasks, either smaller tasks or tasks that woudl operate on smaller chunks of
          data. 

Pipeline  Task Graph, Workflow, Dataflow

'''

In [ ]:
'''Types of Parallelism

Task Parallelism    Important to define the dependencies required when splitting tasks between multiple CPU's. 
                    Accuracy is very important, especially if you are dealing with money or stocks. 
                    Dependency - what tasks need to be performed first. 

Data Parallelism    Distrubte the data to different processors or notes. 
                    You only need one merge at the end 
                    One computer sending out the instructions. 
                    This is how Apache spark works. 

Concurrent Comput   enabling proces to progress without waiting for each other.  all about dependencies. 

'''

In [ ]:
'''Higher Order Functions

Defined            are functions that take functions as arguments
                   
Examples           map and filters
                   replaces for loops. 
                   
                   def AGE_TRANSFORM(y):
                       return (y[0], 2016-y[1])
                       
                   age = map(AGE_TANSFORM, birth_year)
                   no for loop needed. 

Higher order func =  map, filter, reduce. 

Question          Does map return an object?


****  Need to learn these functions this week. 

'''

In [10]:
Test = map(lambda x: x*2, [1,3])

In [11]:
list(Test)

[2, 6]

In [ ]:
# CODE SESSION

In [25]:
# List Approach

birth_year = [1978, 1980, 1950]
age = []

for y in birth_year:
    age.append(2018-y)

senior = []

for y in age:
    if y>60:
        senior.append(y)

print(age)
print(senior)

[40, 38, 68]
[68]

In [38]:
# Use a Map 

birth_year = [1978, 1980, 1950]

Age = map(lambda x: 2018-x, birth_year)

Senior = filter(lambda x: x>60, Age)

In [71]:
# Using Tuples

birth_year = [('A', 1978), ('B', 1980), ('C', 1950)]

Age = map(lambda x: x[0] =='C' and 2018 - x[1], birth_year)

In [72]:
list(Age)

[False, False, 68]

In [1]:
import pandas as pd
import dateutil
import seaborn as sns

In [2]:
tip = sns.load_dataset('tips')

In [3]:
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tip.groupby('sex').count()

        total_bill  tip  smoker  day  time  size
sex
Male           157  157     157  157   157   157
Female          87   87      87   87    87    87

In [29]:
row = tip.values.tolist()
gender = map(lambda x: x[2], row)

In [21]:
# Counter
pairs = map(lambda x: (int(x=='Male'), int(x=='Female')), gender)

In [25]:
list(pairs)

[(1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (1, 0),
 (0, 1),
 (1, 0),
 (0, 1),
 (1, 0),
 (1, 0),
 (0, 1)]

In [26]:
count = filter(lambda x,y: (x[0]+y[0], x[1]+y[1]), pairs)

In [27]:
for x in count:
    print(x)

In [32]:
row = tip.values.tolist()

day = map(lambda x: x[4], row)

In [35]:
import functools

In [37]:
functools.reduce()

TypeError: reduce expected at least 2 arguments, got 0